@model List<ApplicationCore.Models.MovieCardResponseModel>

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Top Movies Count: @ViewBag.Count </h2>
    @foreach (var movie in Model)
    {
        <div>
            @movie.Title <br />
            @movie.Id <br />
            @movie.Budget <br />
            @movie.PosterUrl <br />
        </div>
    }

</div>*@

<div class="rounded">
    <div class="container-fluid bg-light"></div>
    <div class="row">
        @foreach (var movie in Model)
        { 
            <div class="col-2">
                <partial name="_MovieCard" model="movie"/>
                @*@await Html.PartialAsync("_MovieCard", movie);*@
            </div>
        }
    </div>
</div>
