@model List<ApplicationCore.Models.MovieDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Top Movies Count: @ViewBag.Count </h2>
    @foreach (var movie in Model)
    {
        <div>
            @movie.Title <br />
            @movie.Id <br />
            @movie.Budget <br />
            @movie.Revenue 
        </div>
    }

</div>
